<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show page</title>
    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
  <%- include('../partials/nav.ejs') %>

<h1>details</h1>
    <h2>car in:<%= car.country %></h2>
    <img src="<%= car.image %>" alt="">
    <h2>model:<%= car.name %></h2>
    <h2>made in:<%= car.year %></h2>
    <h2>costs:<%= car.price %></h2>
    <h2>is it damaged:<%= car.damaged %></h2>
    <h3>description: <%= car.description %></h3>

     <% if (car.owner._id.equals(user._id)) { %>
<form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete this car</button>
</form>
  <% } %>

<a href="/cars/<%= car._id %>/edit">Edit car</a>

</body>
</html>
